<p>Ok, so, this is what you want your pizza to be aye?</p>
<% counter = 0 %>
<form method = "post" action="/confirm">
<% crust.each do |value| %>
<p><input type="checkbox" value="cr" name="confirmed_options[<%=value%>] + <%=counter.to_s%>"> <%=value%>  </p>
<% end %>

<% cheese.each do |value| %>
<p><input type="checkbox" value="ch" name="confirmed_options[<%=value%>] + <%=counter.to_s%>"> <%=value%>  </p>
<% end %>

<% meats.each do  |value| %>
<p><input type="checkbox" value="m" name="confirmed_options[<%=value%>] + <%=counter.to_s%>"> <%=value%>  </p>
<% end %>

<% veggies.each do |value| %>
<p><input type="checkbox" value="v" name="confirmed_options[<%=value%>] + <%=counter.to_s%>"> <%=value%>  </p>
<% end %>

<%counter += 1%>
<input type="submit">
</form>