<p>Ok, so, this is what you want your pizza to be aye?</p>
<link rel="stylesheet" href="css/style.css">

<form method = "post" action="/confirm">
<% crust.each do |value| %>
<p><input type="radio" value="<%=value%>" name="confirmed_options[]">yes<%=value%>  </p>
<% end %>

<% cheese.each do |value| %>
<p><input type="checkbox" value="<%=value%>" name="confirmed_options[]"> <%=value%>  </p>
<% end %>

<% meats.each do  |value| %>
<p><input type="checkbox" value="<%=value%>" name="confirmed_options[]"> <%=value%>  </p>
<% end %>

<% veggies.each do |value| %>
<p><input type="checkbox" value="<%=value%>" name="confirmed_options[]"> <%=value%>  </p>
<% end %>

<% carry.each do |value| %>
<p>Carry out:<input type="checkbox" value="<%=value%>" name="confirmed_options[]"> <%=value%> </p>  
<% end %>

<% address.each do |value| %>
Address:<input type="checkbox" value="<%=value%>" name="confirmed_options[]"> <%=value%>
<% end %>
<input type="submit">
</form>