<p>Ok, so, this is what you want your pizza to be aye?</p>
<link rel="stylesheet" href="css/style.css">
<form method = "post" action="/confirm">
<% size.each do |sivalue| %>
<p> <%= sivalue %> 
<input type = "radio" name = "confirmed[<%= sivalue %>]" value = "<%=sivalue%>"> Yes
<input type = "radio" name = "confirmed[<%= sivalue %>]" value = "no"> No </p>
<% end %>

<% sauce.each do |svalue| %>
<p> <%= svalue %> 
<input type = "radio" name = "confirmed[<%= svalue %>]" value = "<%=svalue%>"> Yes
<input type = "radio" name = "confirmed[<%= svalue %>]" value = "no"> No </p>
<% end %>

<% crust.each do |cvalue| %>
<p> <%= cvalue %> <img src = "/img/<%= cvalue %>.jpg" height="35px" width="35px">
<input type = "radio" name = "confirmed[<%= cvalue %>]" value = "<%=cvalue%>"> Yes
<input type = "radio" name = "confirmed[<%= cvalue %>]" value = "no"> No </p>
<% end %>

<% cheese.each do |chvalue| %>
<p> <%= chvalue %> 
<img src = "/img/<%= chvalue %>.jpg" height="35px" width="35px">
<input type = "radio" name = "confirmed[<%= chvalue %>]" value = "<%=chvalue%>"> Yes
<input type = "radio" name = "confirmed[<%= chvalue %>]" value = "no"> No </p>
<% end %>

<% meats.each do  |mvalue| %>
<p> <%= mvalue %> <img src = "/img/<%= mvalue %>.jpg" height="35px" width="35px">
<input type = "radio" name = "confirmed[<%= mvalue %>]" value = "<%=mvalue%>"> Yes
<input type = "radio" name = "confirmed[<%= mvalue %>]" value = "no"> No </p>
<% end %>

<% veggies.each do |vvalue| %>
<p> <%= vvalue %> <img src = "/img/<%= vvalue %>.jpg" height="35px" width="35px">
<input type = "radio" name = "confirmed[<%= vvalue %>]" value = "<%=vvalue%>"> Yes
<input type = "radio" name = "confirmed[<%= vvalue %>]" value = "no"> No </p>
<% end %>

<% address.each do |avalue| %>
Address:
<p> <%= avalue %> 
<input type = "radio" name = "confirmed[<%= avalue %>]" value = "<%=avalue%>"> Yes
<input type = "radio" name = "confirmed[<%= avalue %>]" value = "no"> No </p>
<% end %>
<input type="submit">
</form>