<p>Ok, so, this is what you want your pizza to be aye?</p>

<form method = "post" action="/confirm">
<% crust.each do |value| %>
<p><input type="checkbox" value="<%=value%>" name="confirmed_options[]"> <%=value%>  </p>
<% end %>

<% cheese.each do |value| %>
<p><input type="checkbox" value="<%=value%>" name="confirmed_options[]"> <%=value%>  </p>
<% end %>

<% meats.each do  |value| %>
<p><input type="checkbox" value="<%=value%>" name="confirmed_options[]"> <%=value%>  </p>
<% end %>

<% veggies.each do |value| %>
<p><input type="checkbox" value="<%=value%>" name="confirmed_options[]"> <%=value%>  </p>
<% end %>

<input type="submit">
</form>