<p>Ok, so, this is what you want your pizza to be aye?</p>
<link rel="stylesheet" href="css/style.css">
<form method = "post" action="/confirm">
<% size.each do |svalue| %>
<p> <%= sivalue %>
<input type = "radio" name = "sivalue<%= sivalue %>" value = "sivalue"> Yes
<input type = "radio" name = "sivalue<%= sivalue %>" value = "sivalue"> No </p>
<% end %>

<% sauce.each do |cvalue| %>
<p> <%= svalue %>
<input type = "radio" name = "svalue<%= svalue %>" value = "svalue"> Yes
<input type = "radio" name = "svalue<%= svalue %>" value = "svalue"> No </p>
<% end %>

<% crust.each do |cvalue| %>
<p> <%= cvalue %>
<input type = "radio" name = "cvalue<%= cvalue %>" value = "cvalue"> Yes
<input type = "radio" name = "cvalue<%= cvalue %>" value = "cvalue"> No </p>
<% end %>

<% cheese.each do |chvalue| %>
<p> <%= chvalue %>
<input type = "radio" name = "chvalue<%= chvalue %>" value = "chvalue"> Yes
<input type = "radio" name = "chvalue<%= chvalue %>" value = "chvalue"> No </p>
<% end %>

<% meats.each do  |mvalue| %>
<p> <%= mvalue %>
<input type = "radio" name = "mvalue<%= mvalue %>" value = "mvalue"> Yes
<input type = "radio" name = "mvalue<%= mvalue %>" value = "mvalue"> No </p>
<% end %>

<% veggies.each do |vvalue| %>
<p> <%= vvalue %>
<input type = "radio" name = "vvalue<%= vvalue %>" value = "vvalue"> Yes
<input type = "radio" name = "vvalue<%= vvalue %>" value = "vvalue"> No </p>
<% end %>

<% carry.each do |cavalue| %>
<p> <%= cavalue %>
<input type = "radio" name = "cavalue<%= cavalue %>" value = "cavalue"> Yes
<input type = "radio" name = "cavalue<%= cavalue %>" value = "cavalue"> No </p>
<% end %>

<% address.each do |avalue| %>
Address:
<p> <%= avalue %>
<input type = "radio" name = "avalue<%= avalue %>" value = "avalue"> Yes
<input type = "radio" name = "avalue<%= avalue %>" value = "avalue"> No </p>
<% end %>
<input type="submit">
</form>